name: Build MAUI Android in ubuntu

on:
  #push:
  #  branches: [ main ]
  
  workflow_dispatch:   # Permite ejecutarlo manualmente desde Actions

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      # 1) Descargar el código del repo
      - name: Checkout
        uses: actions/checkout@v4

      # 2) Instalar .NET 10
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      # 3) Instalar workloads MAUI y Android
      - name: Install MAUI workload
        run: |
          dotnet workload install maui 
          dotnet workload install android --skip-sign-check

      - name: Install Android dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-11-jdk

      # 4) Restaurar dependencias
      - name: Restore NuGet packages
        run: dotnet restore Ejemplos_Maui_Build/Ejemplo_Build/Ejemplo_Build.csproj

      # 5) Compilar MAUI Android Release
      - name: Build MAUI Android
        run: dotnet build Ejemplos_Maui_Build/Ejemplo_Build/Ejemplo_Build.csproj -c Release -f net10.0-android

      - name: Create Release APK
        run: dotnet publish Ejemplos_Maui_Build/Ejemplo_Build/Ejemplo_Build.csproj -f net10.0-android -c Release -o ./release

      # 6) Buscar el APK generado
      - name: List output
        run: dir **\*.apk /s

      # 7) Subir el APK como artefacto
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: ./release/com.ejemplo.build-*.apk
          retention-days: 30

      #- name: Create GitHub Release
      #  if: startsWith(github.ref, 'refs/tags/')
      #  uses: softprops/action-gh-release@v1
      #  with:
      #    files: ./release/com.ejemplo.build-*.apk
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}